@font-face {
    font-family: Poppins;
    src: url(/assets/fonts/OFL.txt);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: hsl(0, 0%, 86%);
}
.main {
    width: 90%;
    height: 80vh;
    margin-top: 70px;
    background-color: hsl(0, 0%, 100%);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 80px;
}
main .main {
    text-align: center;
}
main .main .row .head {
    text-align: left;
    padding-left: 7px;
}
.main .row {
    margin-top: 50px;
}
h2 {
    font-size: 1.05rem;
    font-weight: 700;
    color: hsl(0, 1%, 44%);
    letter-spacing: 5px;
    text-transform: uppercase;
}
input {
    width: 24vw;
    height: 6vh;
    border: 1px solid black;
    padding: 0 2px;
    padding: 30px 10px;
    border-radius: 5px;
    border: 0.7px solid hsl(0, 1%, 44%);
    font-size: 28px;
    font-weight: 700;
}
.image-line {
    position: relative;
}
.span1, .span2 {
    background-color: hsl(0, 1%, 44%);
    width: 30vw;
    position: absolute;
    height: 1px;
    top: 50%;
    display: block;
    content: "";
}
.span1 {
    left: 12px;
}
.span2 {
    right: 12px;
}
#but {
    width: 16vw;
    padding: 8px;
    border: none;
    border-radius: 50%;
    background-color: hsl(259, 100%, 65%);
}
#content h1{
    font-size: 4rem;
    font-weight: 900;
}
.line {
    color: hsl(259, 100%, 65%);

}
@media (min-width: 376px) {

}